<h1>Blog Posts</h1>
<h3>Sample Post One</h3>
<p>
  If people knew how hard i worked to achieve my mastery
  it wouldn't seem so wonderful after all
</p>
<hr>
<h3>Sample Post two</h3>
<p>
  Wheather you think you can or you think you can't your
  right
</p>

<ul>
  <li><%= @great_grand_father %></li>
  <li><%= @grand_father %></li>
  <li><%= @father %></li>
  <li><%= @fighter %></li>
</ul>


